.bg-dark {
  background-color: #AFE6FA !important; }

.btn-warning {
  background-color: #F5B41B !important;
  border-color: black !important; }

#input_login input:focus {
  border: none !important;
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #f5b41b !important; }

header {
  background-color: #AFE6FA;
  width: 100%; }

header nav a img {
  width: 75px; }

img {
  width: 80px; }

.icono {
  display: flex;
  justify-content: center;
  align-items: center; }

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0054A5;
  color: white; }

a {
  color: #AFE6FA; }
  a:hover {
    color: #F5B41B;
    text-decoration: none; }

.iconos {
  display: flex;
  justify-content: center; }

.rrss:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

div {
  font-family: 'Gotu', sans-serif;
  font-size: 14px; }

#login {
  background: linear-gradient(#AFE6FA, #25A1D1, #0054A5) no-repeat !important;
  background-size: cover;
  min-height: 100%; }

.login-block {
  float: left;
  width: 100%;
  padding: 7.2% 5%;
  font-family: "Gotu", sans-serif; }

.banner-sec {
  background: url(https://www.nationalgeographic.com.es/medio/2019/05/13/nubes-lenticulares_f03d9980_1200x800.jpg) no-repeat left bottom;
  background-size: cover;
  min-height: 500px;
  border-radius: 0 10px 10px 0;
  padding: 0; }

#formulario_login {
  background: #fff;
  border-radius: 10px;
  box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1); }

.carousel-inner {
  border-radius: 0 10px 10px 0; }

.carousel-caption {
  text-align: left;
  left: 5%; }

.login-sec {
  padding: 50px 30px;
  position: relative; }

.login-sec .copy-text {
  position: absolute;
  width: 80%;
  bottom: 20px;
  font-size: 13px;
  text-align: center; }

.login-sec .copy-text i {
  color: #25A1D1; }

.login-sec .copy-text a {
  color: #25A1D1; }

.login-sec h2 {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 30px;
  color: #25A1D1; }

.login-sec h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #F5B41B;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto; }

.btn-login {
  background: #F5B41B;
  color: #000;
  font-weight: 600; }

#input_login:focus {
  border: none !important;
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #f5b41b !important; }

.fondoPrincipal {
  background-image: url("../media/images/fondo.jpg") !important; }
