.bg-dark {
  background-color: #AFE6FA !important; }

.btn-success {
  background-color: #F5B41B !important; }
  .btn-success.focus {
    border: 7px solid #000000 !important; }

header {
  background-color: #AFE6FA;
  width: 100%; }

header nav a img {
  width: 75px; }

@media only screen and (max-width: 600px) {
  header {
    display: none; } }
