.map-responsive {
    overflow: hidden;
    padding-bottom: 52.8%;
    position: relative;
    height: 0;
}
.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border: 2px solid $color3;
}
.area:focus {
    border: none !important;
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgb(245, 180, 27) !important;
}
.opaco{
    opacity: 75%;
    border: 1px solid $color3 !important;
}
.centrado{
    display: flex;
    align-items: center;
}

.captcha-wrong
{
color: red;
}
.captcha-success
{
color: rgb(5, 201, 15);
}
.marked{
  background-color: royalblue !important;
}
.patternDrow{
  position: absolute;
  z-index: 100;  
  margin-left: 5%;
  text-align: center;
}
.main-form {
  width: 40rem;
  padding: 3rem 2rem;
  box-shadow: 0 0 1rem .1rem rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
}

.captcha-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 8rem);
  grid-auto-rows: 8rem;
  grid-gap: .5rem;
  margin-bottom: 2rem;
}

.captcha-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(237, 237, 237);
  font-size: 3rem;
  font-weight: 500;
  position: relative;
}

.marked::before {
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  position: absolute;
  top: .5rem;
  right: .5rem;
  font-size: 2rem;
}

label[for="captchaInput"] {
  font-size: 1.6rem;
  font-weight: 500;
}

#captchaInput {
  display: block;
  width: 100%;
  padding: .8rem 1rem;
  margin-top: 1rem;
  border: .1rem solid rgba(0, 0, 0, .3);
  border-radius: .5rem;
}

.submit-btn {
  margin-top: 2rem;
  padding: .8rem 2rem;
  color: white;
  background-color: black;
  border: none;
  border-radius: .5rem;
  outline: none;
  font-size: 1.6rem;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}