
footer{
    
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: $color3;
        color: white;
        
    
}

a:hover{
        color: #F5B41B;
      }

.iconos{
        display: flex;
        justify-content: center;
}

.rrss:hover {
-webkit-transform:scale(1.2);transform:scale(1.2);
}
