
footer{
    
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: $color3;
        color: white;
        
    
}

a{
  color: #AFE6FA;
&:hover{
        color: #F5B41B;
        text-decoration: none;
        }
}


.iconos{
        display: flex;
        justify-content: center;
}

.rrss:hover {
-webkit-transform:scale(1.2);transform:scale(1.2);
}

div .footer{
 font-family:  'Gotu', sans-serif;
 font-size: 14px;
}

a .footer{
 font-family:  'Gotu', sans-serif;
 font-size: 14px;
}