#login {
    //background: linear-gradient($color3, $color2, $color1) no-repeat !important;
    background-size: cover;
    border: 1px solid black;
    min-height: 100%;
}
.logo {
    background: linear-gradient($color3, $color2, $color1) no-repeat !important;

    width: 100%;
    align-items: center;
    border-radius: 10px 10px 0 0;
}
.logo a img {
    display: block;
    margin: auto;
}

.login-block {
    //background: linear-gradient(to bottom, $color1, $color3);
    float: left;
    width: 100%;
    padding: 4% 5%;
    font-family: "Gotu", sans-serif;
}
.banner-sec {
    background: url(https://www.nationalgeographic.com.es/medio/2019/05/13/nubes-lenticulares_f03d9980_1200x800.jpg)
        no-repeat left bottom;
    background-size: cover;
    min-height: 500px;
    border-radius: 0 0 10px 0;
    padding: 0;
}
#formulario_login {
    //background: linear-gradient(to bottom, $color1, $color3);
    background: #fff;
    border-radius: 10px;
    //box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
}
.carousel-inner {
    border-radius: 0 10px 10px 0;
}
.carousel-caption {
    text-align: left;
    left: 5%;
}
.login-sec {
    padding: 50px 30px;
    position: relative;
}
.login-sec .copy-text {
    position: absolute;
    width: 80%;
    bottom: 20px;
    font-size: 13px;
    text-align: center;
}
.login-sec .copy-text i {
    color: $color2;
}
.login-sec .copy-text a {
    color: $color2;
}
.login-sec h2 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: $color2;
}
.login-sec h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: $color4;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}
.btn-login {
    background: $color4;
    color: #000;
    font-weight: 600;
}
#input_login:focus {
    border: none !important;
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgb(245, 180, 27) !important;
}
