.icono {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  background-color: $color3;
  font-family: "Gotu", sans-serif !important;
  font-size: 18px !important;
  color: $color1 !important;
}
a.colorLetra {
  color: $color1 !important;
  &:active{
    color: $color4;
  }
}

.imagen {
  width: 80px;
}

.backgroundcolor {
  background-color: #0054a5 !important;
}

.dropdown-item {
  background-color: #0054a5 !important;
  color: $color1 !important;
}
.sub-dropdown-item:after {
  transform: rotate(-90deg);
  vertical-align: 0.2em;
}
.myDropdown {
  top: auto;
  left: 95%;
  margin-top: -2em;
}

.navbar-center {
  margin: auto;
}

.dropdown-item:hover {
  background-color: #0054a5 !important;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -5px;
}

a, li :hover {
  cursor: pointer;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
