
.icono{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    background-color: $color3;
}
.imagen  {  
    width: 80px;
    
}

.backgroundcolor{
  background-color: #0054A5 !important;
}



  
    .dropdown-item{
        color: white !important;
    }
    .sub-dropdown-item:after {
        transform: rotate(-90deg);
        vertical-align: 0.2em;
        
      }
      .myDropdown {
        top: auto;
        left: 95%;
        margin-top: -2em;
        color: white !important;
      }

   
      
          
      .navbar-center {

        margin: auto;
     
      }
      
      .dropdown-item{
        background-color:  #0054A5 !important;
      }

      .dropdown-item:hover{
        background-color:  #0054A5 !important;
      }


      .dropdown-submenu {
        position: relative ;
      }
      
      .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -5px;
      }

    