ul,
ol {
  margin: 0; }
  ul li,
  ol li {
    list-style: none; }


.img{
  height: auto;
  max-width: 100%; }

/* Spacing */
.mt-15 {
  margin-top: 15px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mt-50 {
  margin-top: 50px !important; }

.mt-70 {
  margin-top: 70px !important; }

.mt-100 {
  margin-top: 100px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.ml-15 {
  margin-left: 15px !important; }

.ml-30 {
  margin-left: 30px !important; }

.ml-50 {
  margin-left: 50px !important; }

.mr-15 {
  margin-right: 15px !important; }

.mr-30 {
  margin-right: 30px !important; }

.mr-50 {
  margin-right: 50px !important; }

/* Height */
.height-400 {
  height: 400px !important; }

.height-500 {
  height: 500px !important; }

.height-600 {
  height: 600px !important; }

.height-700 {
  height: 700px !important; }

.height-800 {
  height: 800px !important; }

/* Section Padding */
.section-padding-100 {
  padding-top: 100px;
  padding-bottom: 100px; }

.section-padding-100-0 {
  padding-top: 100px;
  padding-bottom: 0; }

.section-padding-0-100 {
  padding-top: 0;
  padding-bottom: 100px; }

.section-padding-100-70 {
  padding-top: 100px;
  padding-bottom: 70px; }



.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #ffffff;
  right: 0;
  padding-right: 0;
  width: 30px;
  height: 30px;
  background-color: #61ba6d;
  line-height: 30px;
  text-align: center;
  position: absolute;
  top: 40px;
  right: -30px; }
  @media only screen and (max-width: 767px) {
    .mfp-image-holder .mfp-close,
    .mfp-iframe-holder .mfp-close {
      right: 0; } }


/* Essence Button */
.academy-btn {
  display: inline-block;
  min-width: 160px;
  height: 65px;
  color: #ffffff;
  border: none;
  border-radius: 0;
  padding: 0 40px;
  font-size: 14px;
  line-height: 65px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  background: $color3;
  font-weight: 600; }
  .academy-btn.btn-sm {
    min-width: 110px;
    padding: 0 20px;
    height: 42px;
    line-height: 42px; }
  .academy-btn.active, .academy-btn:hover, .academy-btn:focus {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background: $color3;
    background: -webkit-linear-gradient(to right, #61ba6d, $color3);
    background: linear-gradient(to right, #61ba6d, $color3); }
 
 
  .academy-btn.btn-4 {
    background: #ffffff;
    border: 2px solid $color3;
    color: #606060; }
    .academy-btn.btn-4:hover, .academy-btn.btn-4:focus {
      background: #757775;
      color: #ffffff; }


/* Breadcumb Area CSS */
.breadcumb-area {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 200px; }
  .breadcumb-area .bradcumbContent {
    width: 500px;
    height: 110px;
    background: #61ba6d;
    background: -webkit-linear-gradient(to right, #61ba6d, #83c331);
    background: linear-gradient(to right, #61ba6d, #83c331);
    position: absolute;
    bottom: -60px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    z-index: 30; }
    @media only screen and (max-width: 767px) {
      .breadcumb-area .bradcumbContent {
        width: 280px; } }
    .breadcumb-area .bradcumbContent h2 {
      text-align: center;
      line-height: 110px;
      font-size: 36px;
      color: #ffffff; }
      @media only screen and (max-width: 767px) {
        .breadcumb-area .bradcumbContent h2 {
          font-size: 24px; } }

/* About Us Content Area CSS */
.about-slides {
  position: relative;
  z-index: 1; }
  .about-slides .owl-prev,
  .about-slides .owl-next {
    background: #61ba6d;
    background: -webkit-linear-gradient(to right, #61ba6d, #83c331);
    background: linear-gradient(to right, #61ba6d, #83c331);
    width: 56px;
    height: 56px;
    line-height: 56px;
    color: #ffffff;
    top: 50%;
    margin-top: -28px;
    left: 5%;
    position: absolute;
    z-index: 10;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms; }
    @media only screen and (max-width: 767px) {
      .about-slides .owl-prev,
      .about-slides .owl-next {
        width: 36px;
        height: 36px;
        line-height: 36px;
        margin-top: -18px; } }
  .about-slides .owl-next {
    left: auto;
    right: 5%; }

/* Teachers Area CSS */
.single-teachers-area {
  position: relative;
  z-index: 1; }
  .single-teachers-area .teachers-info h5 {
    font-weight: 400;
    margin-bottom: 3px; }
  .single-teachers-area .teachers-info span {
    color: #69bc5f;
    font-size: 14px; }

.letra{
    color: $color2;
}

.letra1{
    color: $color3;
}

/* Blog Area CSS */
@media only screen and (max-width: 767px) {
  .academy-blog-sidebar {
    margin-top: 100px; } }

.single-blog-post {
  background-color: #eef3f6;
  padding: 30px; }
  .single-blog-post .post-title {
    font-size: 24px;
    display: block;
    font-weight: 500;
    margin-bottom: 5px; }
    .single-blog-post .post-title:hover, .single-blog-post .post-title:focus {
      color: #69bc5f; }
  .single-blog-post .post-meta {
    margin-bottom: 30px; }
    .single-blog-post .post-meta p {
      font-size: 12px;
      color: #69bc5f;
      margin-bottom: 0; }
      .single-blog-post .post-meta p a {
        font-size: 12px;
        color: #69bc5f;
        font-weight: 500; }


.blog-post-categories {
  background-color: #eef3f6;
  padding: 30px; }
  .blog-post-categories h5 {
    font-size: 18px;
    margin-bottom: 30px; }
  .blog-post-categories ul {
    padding-left: 30px; }
    .blog-post-categories ul li a {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 10px;
      display: block; }
      .blog-post-categories ul li a:hover, .blog-post-categories ul li a:focus {
        color: #69bc5f; }

.latest-blog-posts {
  background-color: #eef3f6;
  padding: 30px; }
  .latest-blog-posts h5 {
    font-size: 18px;
    margin-bottom: 30px; }
  .latest-blog-posts .latest-blog-post-thumb {
    @flex (0 0 66px);
    max-width: 66px;
    width: 66px;
    margin-right: 15px; }
  .latest-blog-posts .latest-blog-post-content .post-title h6 {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    font-weight: 500;
    margin-bottom: 3px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .latest-blog-posts .latest-blog-post-content .post-title h6 {
        font-size: 14px; } }
    .latest-blog-posts .latest-blog-post-content .post-title h6:hover, .latest-blog-posts .latest-blog-post-content .post-title h6:focus {
      color: #69bc5f; }
  .latest-blog-posts .latest-blog-post-content .post-date {
    font-size: 12px;
    color: #69bc5f; }

.map-area {
  position: relative;
  z-index: 2; }
  .map-area #googleMap {
    width: 100%;
    height: 650px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .map-area #googleMap {
        height: 500px; } }


/* Tabs CSS*/
.academy-tabs-content {
  position: relative;
  z-index: 1; }
  .academy-tabs-content .nav-tabs {
    border-bottom: none;
    margin-bottom: 50px; }
    .academy-tabs-content .nav-tabs .nav-link {
      background: #61ba6d;
      background: -webkit-linear-gradient(to right, #61ba6d, #83c331);
      background: linear-gradient(to right, #61ba6d, #83c331);
      padding: 0 20px;
      height: 50px;
      line-height: 50px;
      color: #ffffff;
      margin: 0 2px;
      border-radius: 0;
      border: none; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .academy-tabs-content .nav-tabs .nav-link {
          padding: 0 10px; } }
      @media only screen and (max-width: 767px) {
        .academy-tabs-content .nav-tabs .nav-link {
          padding: 0 10px; } }

  .academy-tabs-content .tab-content h6 {
    font-size: 18px; }

/*# sourceMappingURL=style.css.map */

