
.inputTitulo{
color: $color3;
width: 60%;

}
.inputTitulo::placeholder{
    
    font-family: $tipografia-general;
}

.inputText::placeholder{
    font-family: $tipografia-general;
}

.tiposNoticia{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: $tipografia-general;
}



.marcoNoticia:focus{
    outline: none !important;
}
.noticiaNueva{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.border-primary{
   border-color: $color3 !important;
  
}

.nombreBotonPublicar{
   font-family: $tipografia-general;
}

.textinput {
   
    border: 1px solid grey;
}

.subir{
    padding: 5px 10px;
    background: $color2;
    color:#fff;
    border:0px solid #fff;
}
 
.subir:hover{
    color:#fff;
    background: $color4;
}

#autorYfecha{
    font-size: 14px;
    color: $color3;
    text-align: justify;
    font-family: $tipografia-general;
}
hr#noticiaHr {border: 0 ; border-top: 4px double $color1; width: 100%;}

.fondoCardMenu{
    background-color: #f5f5f5;
    width: 100%;
    
}

#cojones{
    width: 60%;
}

#editor{
    height: 289px;
    width: auto;
}

.imagenEditarTamaño{
    width: 20%;
}