.contenedorImagen{
    width: 100%;
}

.titulosPrincipal{
    font-family:  'Gotu', sans-serif;
    font-size: 18px;
    color: $color3;
    text-shadow: 0.1em 0.1em 0.3em $color1
}

a.enlaceCiudades{
    color: $color3;
    font-family:  'Gotu', sans-serif;
    font-size: 14px;
  &:hover{
          color: $color4;
          text-decoration: none;
          }
  }

  p#descripciones{
    font-family:  'Gotu', sans-serif;
    font-size: 14px;
    color: $color3;
    text-align: justify;
  }


img.esquinaMultimedia{
  height: 50%;
}

.visi{
  background-color: white;
  opacity: 70%;
}

a.noNeeded { 
  color: $color3;
  font-family:  'Gotu', sans-serif;
 text-decoration: none;
 &:hover{
  color: $color4;
  text-decoration: none;
  }
 
}

th.thColor{
  color: $color3;
  font-family:  'Gotu', sans-serif;
}

td.tdColor{
  color: $color3;
  font-family:  'Gotu', sans-serif;
}

.letraPrincipal{
  font-family:  'Gotu', sans-serif;
  color: $color3;
  //text-decoration: underline;
}

.multiImagen{
  width: 100%;
}

.fondoThead{
  background-color: $color4 !important;
}
/*
.rotar{
  position: relative;
  transition: width 3s, height 3s, transform 3s;
}

.rotar:hover {
  transform: rotate(180deg);
}
*/
.multi:hover {
  -webkit-transform:scale(1.1);transform:scale(1.1);
  }

  .medidasTabla{
    width: 100%;
  }

  .iconos{
   color: $color2;
  }

  .tooltip-inner {
    background-color: $color4 !important;
    color: $color3 !important;
  }
