.fondoWidget{

    height: 180px;
    width: 50px imp !important;

    background-color: $color2;
    
}

.maximas{

    color: orange;
    font-style: $tipografia-general;
}

.minimas{

    color: $color1;
    font-style: $tipografia-general;

}


#changed {
    -webkit-filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(0.7);
}   

.actual{
    color: yellow;
}

#city{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ciudad{
    
    color: white  !important;
    height: 180px;


}