body {
    background: rgb(206, 207, 205);
    background-image: url("../../../media/images/fondo.jpg"); 
    font: 14px 'Arial',sans-serif;
    text-align: center;
    
}

div.contenedor {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    
}


div.juego canvas {
    box-shadow: 0 0 30px rgb(43, 34, 34);
    background-color:#03bafc;
   

   
    
}

#show {
    background-color: rgba(235, 107, 102, 0.664);
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    font-family: 'Cinzel Decorative', cursive;
    
}


#refrescar {
    background-color: rgb(255, 217, 0);
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    font-family: 'Cinzel Decorative', cursive;
    
}

#salir {
    background-color: red;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    font-family: 'Cinzel Decorative', cursive;
    
}

.snow {
    top:10px;
    left:700px;
    right: 335px;
    position: fixed;;
    z-index:10;
    color:#fff;
   
    
}



#snowflakes {
  
    width: 799px;
    height: 529px;
}